

#top-bar {
    background-color: rgb(54, 110, 231);
    padding: 4em 0 4em 0;
}

#top-bar-content {
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container > div {
    margin: 20px;
}

#weather-card {
    background-color: rgb(158, 158, 158);
}

#weather-card > div {
    display: flex;
    justify-content: center;
}

#city-label {
    font-size: larger;
   margin: 0 20px 0 0;
}

.hotel-title {
    text-decoration: underline;
}

.loadingText {
    color: rgb(148, 148, 148);
}

img {
    height: 100%;
    width: 100%;
}

#locationSearch {
    float: left;
    display: block;
    color: black;
    text-align: center;
    font-size: 17px;
    border: solid;
    padding: 16px 19px;
    }
    
    #locationSearch input[type=text] {
        border: 1px solid #ccc; 
    }

.hotelName {
    cursor: pointer;
}

.hotelName:hover {
    text-decoration: underline;
}

.landmark {
    margin: 0 0 30px 0;
}